:root {
  --primary-color:#ce96f1fd;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-white: 0 5px 25px 5px rgba(255, 255, 255, 0.829);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Georgia, "Times New Roman", Times, serif;
}
img{
    border-radius: 5px;
}
h3{
    padding: 20px 20px;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
footer{
    margin-top: 20px;
        font-size: 12px;
        text-align: center;
    }

.logo:hover{
    background: rgba(255, 226, 3, 0.895);
    padding:5px 5px 5px 5px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  color: white;
}
.primary-link:hover{
    background: #c58ee7fd;
}
.blue{
    background: linear-gradient(120deg, #000f6f -100%, #8ec5fc 100%);
}
.yellow{
background: linear-gradient(135deg, rgb(255, 188, 188) 10%, rgb(252, 255, 0) 100%);
}
.purple{
    background: linear-gradient(102.7deg, rgb(253, 218, 255) 8.2%, rgb(223, 173, 252) 19.6%, rgb(173, 205, 252) 36.8%, rgb(173, 252, 244) 73.2%, rgb(202, 248, 208) 90.9%);
}
.homepage{
    background: black;
    color: white;
}
.hero{
    padding: 80px 20px; 
    text-align: center;
}
.hero p{
    text-align: left;
}
.hero img{
    height: fit-content;
    width: fit-content;
}
.top-projects img:hover{
    transform: scale(1.1);
}
.about-section{
    margin-top: 50px;
}
.about-section h1{
    margin-bottom: 10px;
}
.photo-of-me{
    display: flex;
    border-radius: 10px;
}
.my-work-content{
    padding: 30px 30px; 
}
.my-work-container img{
padding: 20px 20px;
}
.my-work-container h2{
    margin-top: 30px;
}
.sub-description{
    font-size: 12px;
}
.content-container{
    margin-top: 50px;
}
@media (max-width: 600px) {
.primary-link {
    padding: 5px;
    font-size: 15px;
}
.project-titles{
    font-size: 20px;
}
.hero{
    padding:35px 15px;
}
}
@media (min-width:800px){
    .photo-of-me{
        width: 340px;
        height: 511px;
    }
    .sub-description{
        font-size: 14px;
    }
}
